/*==============================
NAVBAR
==============================*/

.navbar ul{

    display:flex;

    align-items:center;

    gap:38px;

}

.navbar a{

    color:var(--muted);

    font-weight:500;

    position:relative;

    transition:var(--transition);

}

.navbar a:hover{

    color:#fff;

}

.navbar a::after{

    content:"";

    position:absolute;

    right:0;

    bottom:-8px;

    width:0;

    height:2px;

    border-radius:10px;

    background:var(--secondary);

    transition:.35s;

}

.navbar a:hover::after{

    width:100%;

}

.menu-btn{

    display:none;

    width:42px;

    background:none;

    border:none;

    cursor:pointer;

}

.menu-btn span{

    display:block;

    height:2px;

    margin:8px 0;

    background:#fff;

    transition:.3s;

}

.menu-btn.active span:nth-child(1){
    transform:translateY(10px) rotate(45deg);
}

.menu-btn.active span:nth-child(2){
    opacity:0;
}

.menu-btn.active span:nth-child(3){
    transform:translateY(-10px) rotate(-45deg);
}