/*==============================
RESPONSIVE
==============================*/

@media (max-width:1100px){
    .login-wrapper{

    grid-template-columns:1fr 430px;

    gap:60px;

}
    .hero-container,
    .contact-wrapper,
    .footer-container{

        grid-template-columns:1fr;

    }

    .about-grid,
    .projects-grid,
    .blog-grid,
    .skills-grid{

        grid-template-columns:1fr 1fr;

    }

    .hero{

        padding-top:120px;

    }

}

@media (max-width:768px){
    .login-left{

    text-align:center;

}

.login-left h1{

    font-size:2.8rem;

}

.login-card{
    transition: var(--transition);
    padding:30px;

}

.login-options{

    flex-direction:column;

    align-items:flex-start;

}

    .header .container{

        grid-template-columns:1fr auto auto;

    }

    .header .header-login{

        grid-column:2;

    }

    .header .navbar{

        display:none;

    }

    .header .navbar.active{

        display:block;

        position:fixed;

        top:100px;

        right:16px;

        left:16px;

        grid-column:auto;

        background:rgba(14,14,22,.92);

        backdrop-filter:blur(22px);
        -webkit-backdrop-filter:blur(22px);

        border:1px solid var(--glass-border);

        border-radius:var(--radius);

        padding:20px;

        box-shadow:var(--shadow);

        z-index:9998;

    }

    .navbar ul{
    flex-direction:column;
    align-items:stretch;
    gap:10px;
}

    .navbar a{
        display:block;
        padding:12px;
        text-align:center;
    }

    .menu-btn{

        display:block;

        grid-column:3;

    }

    .hero h1{

        font-size:3rem;

    }

    .hero h2{

        font-size:1.5rem;

    }

    .about-grid,
    .projects-grid,
    .blog-grid,
    .skills-grid{

        grid-template-columns:1fr;

    }

    .hero-stats{

        flex-direction:column;

    }

    .stat-card{

        width:100%;

    }

    .footer-right{

        justify-content:flex-start;

    }

}

@media (max-width:500px){

    section{

        padding:90px 0;

    }

    .hero h1{

        font-size:2.4rem;

    }

    .section-title h2{

        font-size:2rem;

    }

    .btn{

        width:100%;

        text-align:center;

    }

}
