/*==============================
CURSOR
==============================*/

body,
body * {
    cursor: none;
}


/*==============================
MAIN CURSOR
==============================*/

.cursor {
    width: 64px;
    height: 64px;

    border: 1px solid var(--primary);
    border-radius: 50%;

    position: fixed;
    left: 0;
    top: 0;

    transform: translate(-50%, -50%);

    pointer-events: none;

    z-index: 2147483647;

    will-change: left, top, width, height;

    transition:
        width .2s ease,
        height .2s ease,
        background .2s ease;
}


/*==============================
CURSOR DOT
==============================*/

.cursor-dot {
    width: 8px;
    height: 8px;

    border-radius: 50%;
    background: var(--secondary);

    position: fixed;
    left: 0;
    top: 0;

    transform: translate(-50%, -50%);

    pointer-events: none;

    z-index: 2147483647;

    will-change: left, top;
}


/*==============================
HOVER
==============================*/

.cursor.hover {

    width: 80px;

    height: 80px;

    background: rgba(139, 92, 246, .12);

}