/*==============================
TYPING
==============================*/

.typing{

    color:var(--accent-light);

    font-weight:700;

    position:relative;

}

.typing::after{

    content:"|";

    margin-right:4px;

    animation:blink .8s infinite;

}
