{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>{% block title %}MyWeb | Profile{% endblock %}</title>
    <meta name="description"
          content="HappyCode Portfolio">

    <meta name="theme-color"
          content="#0f0b1d">

    <!-- Fonts -->

    <link rel="preconnect"
          href="https://fonts.googleapis.com">

    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <!-- Icons -->

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <!-- CSS -->

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>

<body>

<div class="background">

    <div class="aurora aurora-1"></div>

    <div class="aurora aurora-2"></div>

    <div class="grid"></div>

    <div class="noise"></div>

</div>

<div class="progress-bar"></div>

<header class="header">

    <div class="container">
            <a href="{% url 'website:home' %}" class="logo">

                {{ profile.name_en }}
                <span>{{ profile.name_en_highlight }}</span>

            </a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="{% url 'website:home' %}">خانه</a>
                </li>
                <li>
                    <a href="{% url 'website:home' %}#about">درباره من</a>
                </li>
                <li>
                    <a href="{% url 'website:home' %}#skills">مهارت‌ها</a>
                </li>
                <li>
                    <a href="{% url 'website:home' %}#projects">پروژه‌ها</a>
                </li>
                <li>
                    <a href="{% url 'website:home' %}#blog">وبلاگ</a>
                </li>
                <li>
                    <a href="{% url 'website:home' %}#contact">ارتباط</a>
                </li>
                <li class="nav-login">
                    <a href="{% url 'login:login' %}">ورود</a>
                </li>

            </ul>
        </nav>

        <button class="menu-btn">

            <span></span>
            <span></span>
            <span></span>

        </button>

    </div>

</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">

    <div class="container footer-container">

        <div class="footer-left">

            <a href="#home"
               class="logo">

                    {{ profile.name_en }}
                    <span>{{ profile.name_en_highlight }}</span>

            </a>

            <p>

                طراحی شده برای تبدیل شدن به
                یک رزومه و وبلاگ شخصی حرفه‌ای
                با Django.

            </p>
            <div class="footer-right">

                {% for sociallink in sociallinks %}

                <a href="{{ sociallink.url }}" target="_blank">
                    <i class="{{ sociallink.icon }}"></i>
                </a>

                {% endfor %}

            </div>
        </div>

        <ul class="footer-center">

            <li><a href="{% url 'website:home' %}">خانه</a></li>

            <li><a href="{% url 'website:home' %}#about">درباره من</a></li>

            <li><a href="{% url 'website:home' %}#skills">مهارت‌ها</a></li>

            <li><a href="{% url 'website:home' %}#projects">پروژه‌ها</a></li>

            <li><a href="{% url 'website:home' %}#blog">وبلاگ</a></li>

            <li><a href="{% url 'website:home' %}#contact">ارتباط</a></li>

            <li class="nav-login">
                <a href="{% url 'login:login' %}">ورود</a>
            </li>

        </ul>

    </div>

</footer>

<script src="{% static 'js/Rapp.js' %}"></script>

</body>

</html>

