{% extends "base.html" %}
{% load jformat %}

{% block title %}{{ blogpost.title }}{% endblock %}

{% block content %}

<section class="blog-detail-page">

    <article class="blog-post-card">

        <header class="blog-post-header">

            <span class="blog-post-date">
                {{ blogpost.published_at|jformat:"%Y/%m/%d" }}
            </span>

            <h1 class="blog-post-title">
                {{ blogpost.title }}
            </h1>

            <p class="blog-post-description">
                {{ blogpost.description }}
            </p>

        </header>

        <div class="blog-post-content">
            {{ blogpost.content|linebreaks }}
        </div>

    </article>

</section>

{% endblock %}